body {
  background-color: $light-gray;
  color: $medium-gray;
  font-size: $base-font-size;
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-gray;
}

h1 {
  @extend %large-header;
}

h2 {
  @extend %medium-header;
}

hr {
  border-bottom: 1px solid $secondary-gray;
  margin: 1em;
}

%centered {
  text-align: center;
}

.hero {
  line-height: 0;
  position: relative;
  width: 100%;

  .intro {
    @extend %centered;
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 999;

    h1 {
      margin-bottom: 0;
    }
  }

  .background-overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
    transparentize($image-gradient-color-bottom, $transparency-bottom));

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
      transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0);
      content: '';
      display: block;
    }

    background: url("https://cloud.githubusercontent.com/assets/59880/6454073/3aef93f0-c0fa-11e4-9566-e76d5e295ac5.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    min-height: 700px;
    position: relative;
    width: 100%;
  }
}

%callout {
  background-color: $dark-gray;
  min-height: 100px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .banner {
    @extend %centered;
    @include outer-container;
    padding: 3em;

    .tagline {
      color: $light-gray;
    }

  }
}

.hero-callout {
  @extend %callout;

  .tagline {
    @extend %medium-header;
  }

  .cta {
    @include button(pill, $steel-blue);
    font-size: 1.25em;
    margin-top: 2em;
  }
}


.company-description {
  @extend %centered;
  padding: 2em 1em 1em;

  .what-we-do {
    @extend %small-header;
  }
}

.company-info {
  @include outer-container;
  @include pad(40px default);

  .values {
    @extend %centered;
    @extend %medium-header;
  }

  .recent-clients {
    @extend %centered;
    @extend %medium-header;
  }

  .header {
    @extend %medium-header;
  }

  .client-name,
  .toolset {
    @extend %xsmall-header;
  }

  .cards {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .card {
      @include flex-basis(20em);
      @include flex-grow(1);

      .card-header,
      .card-image,
      article {
        margin: 20px 1em;
      }

      .card-image {
        @extend %centered;
        overflow: hidden;

        img {
          max-height: 233px;
          max-width: 100%;
        }
      }

      article {
        .card-header {
          @extend %centered;
        }

        .card-content {
          @include border-color($secondary-gray);
          @include border-radius(4px);
          background-color: $white;
          border: 1px solid;
          padding: 20px;
          ul {
            margin-left: 1.5em;
            li {
              list-style-type: disc;
            }
          }
        }
      }
    }
  }
}

.contact-banner {
  @extend %callout;

  .copyright {
    @extend %centered;
    font-size: $base-font-size;
    padding: 2em;
  }
}
