@include media($mobile) {
  %large-header-mobile {
    font-size: 2.5em;
  }

  %medium-header-mobile {
    font-size: 1.8em;
  }

  %small-header-mobile {
    font-size: 1.2em;
  }

  .hero {
    h1 {
      @extend %large-header-mobile;
    }

    h2 {
      @extend %medium-header-mobile;
    }
  }

  .hero-callout {
    .tagline {
      @extend %small-header-mobile;
    }
  }

  .company-description {
    .what-we-do {
      @extend %small-header-mobile;
    }
  }
}
