@import "vendor/normalize";

@import "bourbon";
@import "neat";
@import "base/base";
@import "global";

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$secondary-gray: #C1C1C1;
$headline-color: #E0E0E0;
$base-font-size: 20px;

@mixin border-radius($size) {
  @include prefixer(border-radius, $size, webkit moz spec);
}

body {
  height: 100%;
  position: relative;
  font-size: $base-font-size;
}

.text-center {
  text-align: center;
}

.hero {
  $image-gradient-color-top: red;
  $transparency-top: 0.9;
  $image-gradient-color-bottom: DarkSlateGray;
  $transparency-bottom: 0.6;
  $vertical-angle: 0deg;
  $image-gradient-color-left: WhiteSmoke;
  $transparency-left: 0.8;
  $image-gradient-color-right: yellow;
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;

  line-height: 0;
  position: relative;
  width: 100%;

  .intro {
    @include transform(translate(-50%, -50%));
    width: 100%;
    left: 50%;
    top: 50%;
    z-index: 999;
    margin: auto;
    position: absolute;
    @extend .text-center;

    h1, h2, h3, h4, h5, h6 {
      color: $dark-gray;
    }

    h1 {
      font-size: golden-ratio($base-font-size,  3);
      margin-bottom: 0;
    }

    h2 {
      font-size: golden-ratio($base-font-size,  2);
    }

    h3, h4, h5, h6 {
      font-size: golden-ratio($base-font-size,  1);
    }
  }

  .background-overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
    transparentize($image-gradient-color-bottom, $transparency-bottom));

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
      transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
    }

    height: auto;
    width: 100%;
    min-height: 700px;
    position: relative;
    background: url("https://cloud.githubusercontent.com/assets/59880/6454073/3aef93f0-c0fa-11e4-9566-e76d5e295ac5.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.callout-banner {
  min-height: 100px;
  background-color: $dark-gray;
  section {

    @include outer-container;
    .banner {
      @extend .text-center;
      padding: 3em;
      h5 {
        font-size: golden-ratio($base-font-size, 2);
        margin: 0;
      }
      .cta {
        font-size: 1.2em;
        margin-top: 2em;
        @include button(pill, #09C);
      }
    }
  }
}

.company-info {
  @include outer-container;
  @include pad(40px default);

  hr {
    margin: 1em;
    border-bottom: 1px solid $secondary-gray;
  }

  .header {
    @extend .text-center;
    font-size: golden-ratio($base-font-size, 2);
  }

  .cards {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .card {
      @include flex-basis(20em);
      @include flex-grow(1);

      .card-header, .card-image, article {
        margin: 20px 1em;
      }

      .card-image {
        overflow: hidden;
        text-align: center;

        img {
          max-height: 233px;
          max-width: 100%;
        }
      }

      article {
        .card-header {
          @extend .text-center;
        }

        .card-content {
          padding: 20px;
          background-color: white;
          border: 1px solid;
          @include border-color($secondary-gray);
          @include border-radius(4px);
          ul {
            margin-left: 1.5em;
            li {
              list-style-type: disc;
            }
          }
        }
      }
    }
  }
}

.contact-banner {
  @extend .callout-banner;
  .copyright {
    @extend .text-center;
    padding: 2em;
    font-size: $base-font-size;
  }
}
